body  {

display: flex;
width: 900px;
height: 600px;
}

.container{
    position: relative;
    width: 800px;
    height: 600px;

}


button{
display:flex;
text-align: center;
width: 100px;
height:50px;



}

.animationcat{
position: absolute;
width: 400px;
height: 400px;


}

.getElementbyId (nyancat) {
    function: float-right;
    angle: 45°; 
    time-lapse: 10el; 
}
